#navbar {
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 90px;
}
#training .items{
    flex-direction: column;
}
#training .items .item{
    width: 100%;
}
/* .courses .course {
    flex-direction: column;
    text-align: center;
} */
.courses .course .course-image img {
    width: 150px;
    height: 150px;
}
.courses .course {
    margin: 0.5rem auto;
}